<!--页面头部-->
<th:block th:replace="~{modules/header}" />
<div class="container">
  <div class="col-12" id="main" role="main">



<div class="error-page">
  <object width="200" height="200" class="error-img" data="https://blog.guhub.cn/usr/themes/matcha/assets/404.svg" type="image/svg+xml"></object>
  <div class="error-info">
      <h1 class="error-404">404</h1>
      <h2 class="error-title">页面... 我页面呢？</h2>
      <p>我那么大一个页面怎么不见了？</p>
      <a href="https://blog.guhub.cn/">返回首页</a>
  </div>
</div>


<!--页面底部-->
<th:block th:replace="~{modules/footer}" />
